 <!DOCTYPE html>
<html>
<head>
<style>
body {background-color: powderblue;}
h1   {color: blue; display:table-cell; vertical-align:middle}
p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: blue;
}
</style>
</head>
<body>

{% include 'navbar.html' %}


<p>Welcome to my homepage. My name is Anmol Maitra and I am an IT professional by profession and live in Chantilly, VA. My hobbies are music and sports. </p>

</body>
</html> 