 <!DOCTYPE html>
<html>
<head>
<style>
body {background-color: powderblue;}
h1   {color: blue; display:table-cell; vertical-align:middle}
p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: blue;
}
</style>
</head>
<body>


<table style="margin-top:10px; margin-left:10px;" width="100%">
<tr>
    <td><a href="../journal">My Journal</a> </td>
    <td><a href="../task_list">Tasks</a></td>
    <td><a href="../pwd">Pwd</a></td>
    <td><a href="../exerciseday_list">Exercises</a></td>
    <td><a href="../vocab">Vocabulary</a></td>
</tr>
</table>


</body>
</html>